@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Fraunces";
  src: url("./assets/fonts/fraunces/Fraunces.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Fraunces";
  src: url("./assets/fonts/fraunces/static/Fraunces-semiBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/manrope/static/Manrope-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/manrope/Manrope.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

:root {
  font-family: "Manrope", serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@layer components {
  .button-ordinary {
    @apply bg-eucalyptus text-dark-purple font-bold text-base pt-3 pb-3 pl-2 pr-2
  }

  .button-secondary {
    @apply inline-flex justify-center items-center text-white align-baseline font-bold text-lg border-b-eucalyptus border-b-2 pt-2 pb-2 pl-0 pr-0 max-h-[32px] hover:text-eucalyptus
  }

  .dark-bg {
    @apply bg-dark-purple text-white
  }

  .light-bg {
    @apply bg-ghost-white text-dark-purple
  }
}

@layer utilities {
  .container {
    @apply max-w-[1112px] m-auto pl-[16px] pr-[16px] md:pl-0 md:pr-0
  }
}
