@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Fraunces";
    src: url("./assets/fonts/fraunces/Fraunces.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Fraunces";
    src: url("./assets/fonts/fraunces/static/Fraunces-semiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Manrope";
    src: url("./assets/fonts/manrope/static/Manrope-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Manrope";
    src: url("./assets/fonts/manrope/Manrope.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

body {
    font-family: "Manrope", serif;
    font-size: 16px;
    line-height: 1.7;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

@media screen(lg) {
    body {
        font-size: 18px;
    }
}

@layer components {
    /* Advantages list */
    .c-advantages-list {
        counter-reset: my-counter;
    }

    .c-advantages-list li {
        counter-increment: my-counter;
    }

    .c-advantages-list li:before {
        @apply flex items-center justify-center min-w-[48px] h-[46px] mb-2
        content-[counter(my-counter)] font-fraunces text-center font-bold
        border-2 border-solid border-[#584d62]
        text-[#24053e] text-xl leading-9 rounded-full
    }

    @media screen(md) {
        .c-advantages-list li:before {
            @apply translate-y-1/2
        }
    }

    @media screen(lg) {
        .c-advantages-list {
            @apply flex flex-row
        }

        .c-advantages-list li:before {
            @apply transform-none mb-2
        }
    }

    /* Button */
    .c-button-ordinary {
        @apply cursor-pointer bg-eucalyptus text-dark-purple font-bold text-base pt-3 pb-3 pl-6 pr-6
        md:pt-4 md:pb-4

        hover:bg-transparent hover:text-white hover:border hover:border-eucalyptus;
    }

    .c-button-secondary {
        @apply inline-flex justify-center items-center text-white align-baseline
        font-bold text-lg border-b-eucalyptus border-b-2 pt-2 pb-2 pl-0 pr-0 max-h-[32px]

        hover:text-eucalyptus;
    }

    /* Sections */
    .c-s-welcome-screen:after {
        @apply absolute content-[''] block right-2/4 translate-x-1/2 z-10 w-4/5 min-h-[184px]
        bg-hero bg-contain bg-no-repeat bg-center

        md:min-h-[296px]
        lg:min-h-[441px]
    }

    .c-s-promo:before {
        @apply md:absolute md:content-[''] md:w-[315px] md:h-[315px] md:top-0 md:left-[-220px] lg:left-[-160px] md:block md:bg-pattern-1 md:bg-no-repeat
    }

    .c-s-promo:after {
        @apply md:absolute md:content-[''] md:w-[130px] md:h-[140px] md:inset-y-3/4 md:right-[-64px] md:block md:bg-pattern-2 md:bg-contain md:bg-no-repeat
    }

    .c-s-founder {
        @apply relative pt-[281px] z-0
    }

    .c-s-founder:before {
        @apply content-[''] absolute block w-[100%] h-[281px]
        bg-founder-avatar bg-contain bg-no-repeat bg-center top-[33px] z-[-1]
    }

    @media screen(md) {
        .c-s-founder {
            @apply flex justify-end pt-[142px] pb-[80px] max-w-[711px]
            m-auto
        }

        .c-s-founder:before {
            @apply top-0 bg-left
        }

        .c-s-founder:after {
            @apply content-[''] absolute block w-[100%] h-[193px] bg-pattern-3
            bg-right bg-contain bg-no-repeat z-[0] bottom-0
        }
    }

    @media screen(lg) {
        .c-s-founder {
            @apply max-w-[1112px] pt-[213px]
        }

        .c-s-founder:before {
            @apply h-[477px]
        }

        .c-s-founder:after {
            background-position-x: 90%;
        }
    }
}

@layer utilities {
    .u-visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;

        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    .u-wrapper {
        @apply relative
    }

    .u-wrapper--rounded-bottom:after {
        content: "";
        position: absolute;
        z-index: 1;
        display: block;
        width: 150%;
        height: 5rem;
        left: 50%;
        right: 50%;
        bottom: -4rem;
        transform: translateX(-50%);
        border-radius: 50% / 0 0 100% 100%;
    }

    .u-wrapper--rounded-bottom-dark:after {
        @apply bg-dark-purple
    }

    .u-wrapper--rounded-bottom-light:after {
        @apply bg-ghost-white
    }

    .u-container {
        @apply max-w-[95%] m-auto md:pl-0 md:max-w-[90%] md:pr-0 lg:max-w-[1112px] lg:pl-[16px] lg:pr-[16px] ;
    }

    .u-dark-bg {
        @apply bg-dark-purple text-white;
    }

    .u-light-bg {
        @apply bg-ghost-white text-dark-purple;
    }
}
